:root{
    background-color: #e6e6e6;
}

body{
    font-family: TWK Everett,Helvetica,Arial,sans-serif;
    background: url();
    width: 60vw;
    margin: 0 auto;
    text-align: center7;
    
}
.container{
    height: 500px;
}

h1{
    text-align: center;
    margin: 40px auto 60px;
    font-size: 30px;
}

.includeName{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-transform: capitalize;
}

input{
    padding: 5px;
    margin: 10px 0 10px 0;
    width: 18vmax ;
    
}

.sendName{
    border:solid 2px var(--kyndryl-orange);
    margin-top: 10px;
    padding: 10px;
    display:content;
    width: min-content;
    align-items: flex-end;
    line-height: 20px;
    border: solid 1px;
    border-radius: 5px;
}
.sendName:hover{
    background-color: lightslategray;
    color: white;
    font-weight: bold;
    border: solid #ff462d 1px;
}
figure{
    width: 100%;
    text-align: center; 
}
img{
    width: 100%;
    margin: 0px auto;
}

h2{
    line-height: 30px;
    font-weight: 700;
}
.table-list{
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
